@use "@/assets/scss/base";
@use "sass:color";

.recommend-follow-box {
  background: base.$body-background-white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  .recommend-follow-box-title {
    color: base.$text-color-black;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .recommend-follow-box-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .recommend-follow-box-list-item {
      display: flex;
      align-items: center;
      gap: 10px;
      .recommend-follow-box-list-item-avatar {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 9999px;
      }
      .recommend-follow-box-list-item-info {
        flex: 1 1 0;
        min-width: 0;
        .recommend-follow-box-list-item-name {
          color: base.$text-color-black;
          font-weight: 500;
        }
        .recommend-follow-box-list-item-description {
          color: base.$text-color-dark;
          font-size: 14px;
          line-height: 20px;
        }
      }
      .recommend-follow-box-follow-btn {
        margin-left: 12px;
        color: base.$body-background-white;
        border: 1px solid base.$theme-color;
        background: base.$theme-color;
        font-size: 14px;
        line-height: 20px;
        padding: 4px 12px;
        white-space: nowrap;
        border-radius: 8px;
        cursor: pointer;
        transition: color .3s ease,
        background .3s ease,
        border-color .3s ease,
        box-shadow .3s ease;
        &:hover {
          box-shadow: 0 0 8px color.adjust(base.$theme-color, $lightness: -5%);
        }
        &.btn-followed {
          background: color.adjust(base.$body-background-white, $lightness: -5%);
          color: base.$text-color-dark;
          border: 1px solid color.adjust(base.$body-background-white, $lightness: -10%);
          &:hover {
            box-shadow: 0 0 8px color.adjust(base.$body-background-white, $lightness: -10%);
          }
        }
      }
    }
  }
}
