@use "../base";
@use "sass:color";

.info-box {
  background-color: base.$body-background-white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  .user-info {
    text-align: center;
    margin-bottom: 15px;
    .user-info-avatar {
      width: 80px;
      height: 80px;
      border-radius: 9999px;
      object-fit: cover;
      margin: 0 auto 12px auto;
      cursor: pointer;
      animation: infiniteRotation 3s linear infinite;
      animation-play-state: paused;
      &:hover {
        animation-play-state: running;
      }

      @keyframes infiniteRotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
    .user-info-name {
      color: base.$text-color-black;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
    }
    .user-info-identifier {
      color: base.$text-color-dark;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .data-info {
    display: grid;
    gap: 15px;
    text-align: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 15px;
    .data-info-item {
      .data-info-item-size {
        color: base.$text-color-black;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
      }
      .data-info-item-title {
        color: base.$text-color-dark;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
