@use "@/assets/scss/base";
@use "sass:color";

.sign-up-page {
  width: 100%;
  height: 100%;
  position: relative;
  .sign-up-form-box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 16px;
    .sign-up-form-box {
      max-width: 448px;
      width: 100%;
      .sign-up-form-box-container {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
        padding: 32px;
        background: base.$body-background-white;
        border-radius: 12px;

        .sign-up-form-box-title {
          text-align: center;
          margin-bottom: 32px;

          .sign-up-form-box-title-text {
            font-weight: 700;
            color: base.$text-color-black;
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 8px;
          }

          .sign-up-form-box-title-subtitle {
            color: base.$text-color-dark;
          }
        }

        .sign-up-form {
          .sign-up-form-item {
            .sign-up-form-item-input-label {
              display: block;
              font-size: 14px;
              line-height: 20px;
              font-weight: 500;
              color: base.$text-color-black;
              margin-bottom: 8px;
            }

            .sign-up-form-item-input-box {
              position: relative;

              .sign-up-form-item-input-icon {
                position: absolute;
                color: base.$text-color-dark;
                top: 50%;
                left: 12px;
                font-size: 16px;
                line-height: 17px;
                transform: translateY(-50%);
              }

              .sign-up-form-item-input-icon-end {
                position: absolute;
                color: base.$text-color-dark;
                top: 50%;
                right: 12px;
                font-size: 16px;
                line-height: 17px;
                transform: translateY(-50%);
                cursor: pointer;
              }

              .sign-up-form-item-input {
                outline: none;
                width: 100%;
                padding: 10px 30px 10px 30px;
                border: 1px solid base.$border-color;
                border-radius: 8px;
                transition: all .3s ease;

                &:focus {
                  border-color: base.$theme-color;
                  box-shadow: 0 0 0 2px color.adjust(base.$theme-color, $lightness: 20%);
                }
              }
            }

            .sign-up-form-item-remember {
              color: base.$text-color-dark;

              .checkbox-wrapper {
                position: relative;
                display: inline-block;

                .sign-up-form-item-remember-input {
                  opacity: 0;
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  margin: 0;
                  cursor: pointer;
                  z-index: 2;
                }

                .checkmark {
                  position: relative;
                  display: inline-block;
                  width: 18px;
                  height: 18px;
                  background-color: base.$body-background-white;
                  border: 2px solid base.$border-color;
                  border-radius: 4px;
                  transition: all .3s ease;
                  vertical-align: sub;

                  &:hover {
                    border-color: base.$theme-color;
                  }

                  .checkbox-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    color: base.$body-background-white;
                    font-size: 14px;
                    transition: transform .3s ease;
                  }
                }

                .sign-up-form-item-remember-input {
                  &:checked + .checkmark {
                    background-color: base.$theme-color;
                    border-color: base.$theme-color;

                    .checkbox-icon {
                      transform: translate(-50%, -50%) scale(1);
                    }
                  }
                }
              }

              .sign-up-form-item-remember-text {
                user-select: none;
              }
            }

            .sign-up-form-item-forgot {
              color: base.$theme-color-light;
            }

            .user-agreement-text,
            .privacy-policy-text {
              color: base.$theme-color;
            }
          }
        }

        .sign-up-form-item-btn {
          color: base.$body-background-white;
          padding: 8px 20px;
          font-weight: 500;
          background: base.$theme-color;
          border-radius: 4px;
          white-space: nowrap;
          width: 100%;
          transition: all .3s ease;
          margin: 15px 0 0 0;
          border-color: base.$theme-color-dark;

          &:hover {
            background: base.$theme-color-dark;
            box-shadow: 0 0 5px 2px color.adjust(base.$theme-color, $lightness: 20%);
          }

          i {
            font-weight: 900;
            margin-right: 4px;
            font-size: 16px;
          }

          span {
            background: transparent;
          }
        }

        .sign-up-form-item-social-btn {
          color: base.$text-color-dark;
          font-size: 18px;
          line-height: 28px;
          cursor: pointer;
          width: 36px;
          height: 36px;
          background-size: contain;

          &.qq-social-btn {
            background-image: url("/images/qq.png");
          }

          &.wechat-social-btn {
            background-image: url("/images/wechat.png");
          }

          &.google-social-btn {
            background-image: url("/images/google.png");
          }

          &.github-social-btn {
            background-image: url("/images/github.png");
          }
        }

        .sign-up-form-item-go-sign-in {
          color: base.$text-color-dark;
          font-size: 14px;
          line-height: 20px;
          text-align: center;

          a {
            text-decoration: none;
            color: base.$theme-color;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background: base.$theme-color;
              transform: scaleX(0);
              transition: all .3s ease;
              transform-origin: bottom center;
            }

            &:hover {
              color: base.$theme-color-dark;

              &:after {
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }
}
